{% extends 'crew_assign_base.html' %}

{% block content %}
<div id="flight_detail">
<table>
  <tr>
    <th colspan=2>Flight Info</th>
  </tr>
  <tr>
    <td class="detail_label"> ID </td>
    <td> {{object.flight_id}} </td>
  </tr>
  <tr>
    <td class="detail_label"> Flight Code </td>
    <td> {{object.flight_code}} </td>
  </tr>
  <tr>
    <td class="detail_label"> Origin </td>
    <td> {{object.origin_airport.airport_city}}, {{object.origin_airport.airport_name}} </td>
  </tr>
  <tr>
    <td class="detail_label"> Destination </td>
    <td> {{object.destination_airport.airport_city}}, {{object.destination_airport.airport_name}}</td>
  </tr>
  <tr>
    <td class="detail_label"> Departure Date </td>
    <td> {{object.flight_dep_date}} </td>
  </tr>
  <tr>
    <td class="detail_label"> Departure Time </td>
    <td> {{object.flight_dep_time}} </td>
  </tr>
  <tr>
    <td class="detail_label"> Arrival Date </td>
    <td> {{object.flight_arrival_date}} </td>
  </tr>
  <tr>
    <td class="detail_label"> Arrival Time </td>
    <td> {{object.flight_arrival_time}} </td>
  </tr>
  <tr>
    <td class="detail_label"> Cost </td>
    <td> {{object.flight_cost}} </td>
  </tr>
</table>

<div class="assigned">
  <table>
    <tr>
      <th colspan=2> Assigned Crew </th>
    </tr>
    <tr>
      <th> Name </th>
      <th> Role </th>
    </tr>
    {% for crew_member in assigned_crew %}
    <tr>
      <td> {{crew_member.1}}, {{crew_member.0}} </td>
      <td> {{crew_member.2}} </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="assigned">
  <table>
    <tr>
      <th> Passengers </th>
    </tr>
    {% for passenger in passenger_list %}
    <tr>
      <td> {{passenger.0}} </td>
    </tr>
    {% endfor %}
</div>


</div>

{% endblock %}
