{% extends 'crew_assign_base.html'%}


{% block content %}
<h1>Crew: </h1>
{% if crew_list %}
    <table>
      <tr>
        <th> Name </th>
        <th> Role </th>
      </tr>
    {% for crew in crew_list %}
    <tr>
      <td> <a href="./crew/{{crew.crew_id}}">
          {{ crew.crew_lname }}, {{ crew.crew_fname }} </a></td>
      <td> {{ crew.crew_role }} </td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No crew members are available.</p>
{% endif %}


<h1>Flights: </h1>
{% if flight_list %}
<table>
  <tr>
    <th colspan=5> Flights</th>
  </tr>
  <tr>
    <th> Flight </th>
    <th> Origin </th>
    <th> Destination </th>
    <th> Departure </th>
    <th> Arrival </th>
  </tr>
  {% for flight in flight_list %}
  <tr>
    <td> {{flight.flight_code}} </td>
    <td> {{flight.origin_airport.airport_city}} </td>
    <td> {{ flight.destination_airport.airport_city }} </td>
    <td> {{ flight.flight_dep_date }} at {{ flight.flight_dep_time }} </td>
    <td> {{ flight.flight_arrival_date }} at {{ flight.flight_arrival_time }} </td>
  </tr>
  {% endfor %}
  </table>
{% else %}
    <p>No flights are available.</p>
{% endif %}
{% endblock %}
