<hr>
<h3> Booking Summary </h3>

{% if request.session.pass_fname %}
<p> Name: {{request.session.pass_fname}},
  {{request.session.pass_lname}} {{request.session.pass_mi}}. </p>
{% endif %}

{% if request.session.flight_code %}
<table border=1>
  <tr><th colspan=4>Flights</td></tr>
  <tr>
    <th> Flight Code </th>
    <th> From </th>
    <th> To </th>
    <th> Departure </th>
  </tr>
  <tr>
    <td> {{request.session.flight_code}} </td>
    <td> {{request.session.from_city}} </td>
    <td> {{request.session.to_city}} </td>
    <td> {{request.session.flight_dep_date}} </td>
  </tr>
</table>
<br>
{% endif %}

{% if request.session.addon_booking_display %}
<table border=1>
  <tr>
    <th> Addon </th>
    <th> Quantity </th>
  </tr>
  {% for addon, qty in request.session.addon_booking_display %}
  <tr>
    <td> {{addon}} </td>
    <td> {{qty}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
