{% block content %}
<h2> Select your flight: </h2>

<table width=1000px>
  <tr>
    <th> Flight Code </th>
    <th> Origin </th>
    <th> Destination </th>
    <th> Departure </th>
    <th> Arrival </th>
    <th> Duration </th>
    <th> Cost </th>
  </tr>

  {% for object in object_list %}
  <tr>
    <td> {{ object.flight_code }} </td>
    <td> {{ object.airport_origin }} </td>
    <td> {{ object.airport_destination }} </td>
    <td> {{ object.flight_dep_date }} </td>
    <td> {{ object.flight_arrival_date }} </td>
    <td> {{ object.flight_duration }} </td>
    <td> {{ object.flight_cost }} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
