{% extends 'base.html' %}

{% block content %}
<h2> Select your flight: </h2>

{% if invalid_choice %}
<ul><li> Choose only one flight </li></ul>
{% endif %}

<form method="POST"> {% csrf_token %}
  <table width=1000px>
    <tr><td colspan=8>FLIGHT SCHEDULE: {{request.session.flight_dep_date}}</td></tr>
    <tr>
      <th> Select </th>
      <th> Flight Code </th>
      <th> Origin </th>
      <th> Destination </th>
      <th> Departure </th>
      <th> Arrival </th>
      <th> Duration </th>
      <th> Cost </th>
    </tr>

    {% for object in object_list %}
    <tr>
      <td> <input type="checkbox" name="flight_choice" value="{{object.flight_code}}"> </td>
      <td> {{ object.flight_code }} </td>
      <td> {{ object.airport_origin }} </td>
      <td> {{ object.airport_destination }} </td>
      <td> {{ object.flight_dep_date }} </td>
      <td> {{ object.flight_arrival_date }} </td>
      <td> {{ object.flight_duration }} </td>
      <td> {{ object.flight_cost }} </td>
    </tr>
    {% endfor %}
  </table>

  <input type="Submit" value="Continue" \>
</form>
{% endblock %}
